header {
  padding-block: 2rem;
  font: var(--text-md);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#profile {
  display: flex;
  gap: 2rem;
}

#profile img {
  width: 11rem;
  height: 11rem;
  object-fit: cover;
  border-radius: 50%;
}

#profile > div { /* para pegar o primeiro nivel de div  */
  max-width: 24rem;
}

#profile h1 {
  font: var(--text-lg);
  color: var(--text-color-primary);
  margin-bottom: 8px;
}

#info {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 17.5rem;
}

#info li {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.desktop-only {
  display: none;
}

@media (width >= 80em) {
  .desktop-only {
  display: initial;
  }
}

@media (width < 80em) {

  & nav {
    display: flex;
  }

  & nav li:nth-child(1) img {
    border: 2px solid red;
  }

  & header #profile img {
  width: 10rem;
  height: 10rem;
  }

  & header .container {
    display: grid;
  }

  & header #profile {
    display: grid;
    padding-bottom: 2rem;
  }
}